<<<<<<< HEAD

.jumbotron{

  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
=======
<<<<<<< HEAD
.card-deck {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-img-top {
  height: 15rem;
  }
=======
.main_title {
  padding: 0.8em;
  color: white;
}

.secondary-title {
  padding: 0.5em;
  color: light;
}

div.bordure {
	border-bottom:1px solid white;
}

.landscape {
  object-fit: cover;
  width: 70em;
  height: 15em;
}
>>>>>>> ea89d36ed4569ba5ed6bc68df4e29cd5e0292045
>>>>>>> bec2966fcde76ca696d7b03612b4ca278fa75e35
