
.card-deck {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-img-top {
  height: 15rem;
  }

.secondary-title {
  padding: 0.5em;
  color: light;
}

.corner {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

div.bordure {
	border-bottom:1px solid white;
}

.landscape {
  object-fit: cover;
  width: 70em;
  height: 15em;
}

.background-again {
  background-color: #002B36;
}

